{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Your profile {{user}}</h1>
  <div>
    Total task completed: {{user.count_tasks_completed}}
  </div>
  <div>
    Active tasks
    {% for task in active_tasks %}
      <a href="{{task.get_absolute_url}}">{{task}}</a>
    {% endfor %}
  </div>
  
  <div>Projects
    {% for project in projects %}
      {{project}}
    {% endfor %}
  </div>
  <div class="calendar"></div>
  
  <script>

    document.addEventListener("DOMContentLoaded", function(){
      let calendarElement = document.querySelector('.calendar');
      let calendar = new FullCalendar.Calendar(calendarElement, {

        events: [
        {% for task in active_tasks %}
          {
            title: '{{task.task_name}}',
            start: '{{task.due_date|date:"Y-m-d"}}',
            url: '{{task.get_absolute_url}}',
            description: '{{task.project}}',
            backgroundColor: '{% if task.priority == "3" %}rgba(191,97,106, .7){%elif task.priority == "2"%}rgba(235,203,139, .7){%else%}rgba(163,190,140, .7){%endif%}',
            borderColor: '{% if task.priority == "3" %}rgb(191,97,106){%elif task.priority == "2"%}rgb(235,203,139){%else%}rgb(163,190,140){%endif%}',
            textColor: 'black',

          },
        {% endfor %}
      ],
          initialView: 'dayGridMonth',
          locale: 'en',
      });
      calendar.render();
  });

  </script>
{% endblock %}